{{define "title"}}Notetaker - About{{end}}
{{ define "styles"}}{{end}}
{{define "main"}}
    <h1>Change Logs</h1>
    <h2>Current Version: 0.2</h2>
    <h3>Noticeable Changes</h3>
    <ul>
        <li>Defined database models</li>
        <li>Intergration with PostgresSQL</li>
        <li>Routing and chaining middleware via httprouter and alice packages</li>
        <li>You can now add Note with title and content</li>
        <li>Template caching and refactoring of code</li>
    </ul>
    <h3>Future Promising Updates: </h3>
    <ul>
        <li>Authentication</li>
        <li>Delete Notes</li>
        <li>Edit Notes</li>
        <li>Add tags to Note</li>
        <li>UI reforms</li>
    </ul>
{{end}}
