{{ define "title" }}Home{{ end }}
{{ define "styles"}}
<link rel="stylesheet" href="/static/css/home.css"/>
{{end}}
{{ define "main" }}
    <canvas id="background-canvas"></canvas>
    <h1 class="title">
        <div class="title-content"><span class="fade-up animated">HI, </span> <span class="animated scroll-in">I'M CUONG</span></div>
        <div class="title-content animated fade-in">I'M A SOFTWARE DEVELOPER</div>
    </h1>
    <div class="latest">
        <div class="about-me">
            <p>I'm a software developer living in Ho Chi Minh City, Viet Nam.</p>
            <p>My main focus is finding a professional environment to improve my skill and follow my dreams to make useful and immersive software for everyone. With my sense of responsibility and quick learning, I can be a useful help for any software development team.</p>
        </div>
    </div>
    <div class="works">
        <h2>MY PROJECTS</h2>
        <div class="works-list">
            <div class="work">
                <p>work-test</p>
            </div>
        </div>
        <button>SEE MORE</button>
    </div>
{{ end }}
{{define "scripts" }}
    <script defer src="/static/js/background.js"></script>
{{end}}
