{{define "title"}}Home{{end}}
{{define "css"}}
<link rel="stylesheet" href="/static/css/index.css"/>
{{end}}
{{define "main"}}
<section class="introduction">
    <h1 class="home-title">WELCOME TO THE JFORUM!</h1>
    <p class="home-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse magna ante, vulputate non risus et, facilisis pulvinar sem. Ut id lectus et elit suscipit aliquam. Proin a eros et metus euismod cursus. Ut porta, lectus sit amet dignissim porttitor, justo ligula blandit erat, et rutrum ipsum nisl sagittis leo. Maecenas sed faucibus neque. Proin varius velit eu mattis pulvinar. Nulla tellus turpis, tincidunt eget arcu cursus, finibus dapibus diam. Nunc condimentum, ex ut sollicitudin tincidunt, turpis nisl gravida nisl, ac interdum quam nulla consectetur justo. Sed vehicula libero non neque finibus vulputate. Duis nec mauris mollis, rutrum ex id, facilisis lorem. Curabitur vulputate convallis tempor. Nunc eu nisl a orci congue fringilla sed eget sapien. Vivamus elementum orci risus, sed feugiat libero dictum quis. Etiam in eros id massa facilisis malesuada.</p>
</section>
<section class="threads">
    <h2 class="threads-title">OUR THREADS</h2>
    <div class="threads-links">
        <div class="thread-links_item">
            <img src="static/img/img_liquors.png" class="thread-item_img"/>
            <span class="thread-item_overlay">LIQUORS</span>
        </div>
        <div class="thread-links_item">
            <img src="static/img/img_liquors.png" class="thread-item_img"/>
            <span class="thread-item_overlay">LIQUORS</span>
        </div>
        <div class="thread-links_item">
            <img src="static/img/img_liquors.png" class="thread-item_img"/>
            <span class="thread-item_overlay">LIQUORS</span>
        </div>
        <div class="thread-links_item">
            <img src="static/img/img_liquors.png" class="thread-item_img"/>
            <span class="thread-item_overlay">LIQUORS</span>
        </div>
        <div class="thread-links_item">
            <img src="static/img/img_liquors.png" class="thread-item_img"/>
            <span class="thread-item_overlay">LIQUORS</span>
        </div>
        <div class="thread-links_item">
            <img src="static/img/img_liquors.png" class="thread-item_img"/>
            <span class="thread-item_overlay">LIQUORS</span>
        </div>
        <div class="thread-links_item">
            <img src="static/img/img_liquors.png" class="thread-item_img"/>
            <span class="thread-item_overlay">LIQUORS</span>
        </div>
        <div class="thread-links_item">
            <img src="static/img/img_liquors.png" class="thread-item_img"/>
            <span class="thread-item_overlay">LIQUORS</span>
        </div>
        <div class="thread-links_item">
            <img src="static/img/img_liquors.png" class="thread-item_img"/>
            <span class="thread-item_overlay">LIQUORS</span>
        </div>
        <div class="thread-links_item">
            <img src="static/img/img_liquors.png" class="thread-item_img"/>
            <span class="thread-item_overlay">LIQUORS</span>
        </div>
    </div>
</section>
{{end}}
