{{ define "title" }}Create Note {{ end }}
{{ define "styles"}}{{end}}
{{ define "main" }}
<form action="{{ .FormActionPath }}" method="post" class="pure-form pure-form-stacked">
    <input type="hidden" name="csrf_token" value="{{.CSRFToken}}"/>
    <fieldset>
        <legend>Create Note</legend>
        <label for="title">Title</label>
        {{with .Form.FieldErrors.title}}
        <span class="text-error">{{.}}</span>
        {{end}}
        <input type="text" name="title" value="{{.Form.Title}}" placeholder="Title..."/>
        <label for="content">Content</label>
        {{with .Form.FieldErrors.content}}
        <span class="text-error">{{.}}</span>
        {{end}}
        <textarea placeholder="Content..." name="content">{{.Form.Content}}</textarea>
        <button type="submit" class="pure-button pure-button-primary">Save</button>
    </fieldset>
</form>
{{ end }}
{{define "scripts" }}{{end}}
