{{define "title"}}THREADS{{end}}
{{define "css"}}
<link rel="stylesheet" href="/static/css/threads.css" />
{{end}}
{{define "main"}}
<!-- To be implemented -->
<section class="subforum-slider" style="display:none;"></section>
<section class="posts">
    <!-- To be implemented -->
    <div class="toolbar" style="display:none;"></div>
    <div class="posts-articles">
        {{if .Threads}}
            {{range .Threads}}
                <article class="article">
                    <h5>{{.Name}} #{{.ID}}</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse magna ante, vulputate non risus et, facilisis pulvinar sem. Ut id lectus et elit suscipit aliquam.</p>
                <p class="article-meta">9 hours ago - 10 replies</p>
                <time>{{.Created}}</time>
                <time>{{.Updated}}</time>
                <span class="tags">sweetness</span>
        </article>
            {{end}}
        {{end}}
    </div>
</section>
{{end}}
