{{ define "base" }}
<!DOCTYPE html>
<html lang='en'>
    <head>
        <meta charset="UTF-8" />
        <title>{{ template "title" . }}</title>
        {{ template "styles" .}}
        <link href="/static/css/pure.css" rel="stylesheet"/>
    </head>
    <body>
        <header>
            {{template "nav" .}}
        </header>
        <main>
            {{with .Flash}}
            <div class="flash">{{.}}</div>
            {{end}}
            {{ template "main" .}}
        </main>
        <footer>
            {{template "footer" .}}
        </footer>
    </body>
    {{ template "scripts" .}}
</html>
{{ end }}
