{{define "footer"}}
<div class="contacts">
    <h3>CONTACT US:</h3>
    <ul class="contacts-list">
    <li>Email: cuong.ntc02@gmail.com</li>
    <li>PHone: 123456789</li>
    </ul>
</div>
<div class="quick-links">
    <h3>QUICK LINKS:</h3>
    <ul class="quick-links_list">
        <li>Quick_link_1</li>
        <li>Quick_link_2</li>
        <li>Quick_link_3</li>
        <li>Quick_link_4</li>
        <li>Quick_link_5</li>
    </ul>
</div>
<div class="page-data">
    <ul class="page-data_list">
        <li>Current time: </li>
        <li>Last Modified: 21/08/2023 by CUONG</li>
        <li>Copyright: cuong.jorum &copy;2023</li>
    </ul>
</div>
{{end}}
