@import "vars.css";
@import "nav.css";


body {
    font-family: var(--global-font);
    color: var(--foreground-main-color);
    text-align: center;
    background-color: var(--background-main-color);
}

canvas {
    border: 1px solid black;
    z-index: -1;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

img {
    width: 100%;
}

