a {
    text-decoration: none;
    color: var(--main-link-color);
}

body {
    font-family: cursive;
    background-color: rgba(199, 0, 56, 0.7)
}

/* NAVBAR STYLING */
header {
    padding-top: 10rem;
}
nav {
    padding: 0.5em;
    display: flex;
    align-items: center;
    font-size: 1.5em;
    background-color: #900c3f;
    box-shadow: 0 1px 5px 1px #000000AA;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
}

/* LOGO STYLING */
span.nav-logo_j {
    font-family: sans-serif;
    font-size: 2em;
    color: var(--logo-span-color);
}

span.nav-logo_forum {
    font-size: 1.2em;
    font-style: italic;
    color: var(--main-link-color);
}


/* NAV ITEM STYLING */
ul.nav-items {
    display: flex;
    margin-left: 2rem;
}

ul.nav-items > li {
    margin-left: 2rem;
}

/* main content styling */
main {
    width: 70%;
    margin: auto;
}

/* footer styling */
footer {
    background-color: #900c3f;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 2rem;
    box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.5);

}

footer h3 {
    padding: 0 0 1rem;
}

.page-data {
    align-self: flex-end;
    margin-bottom: 0.5rem;
}
