@import "global.css";
@import "reset.css";
@import "colors.css";


.posts-articles {
    background-color: rgba(144, 12, 63, 0.5);
    padding: 3rem;
    z-index: -2;
    min-height: 100rem;
    box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.5);
    margin-bottom: 0.5rem
}

.article > h5 {
    font-size: 1.5em;
    font-weight: bold;
}

.article {
    background-color: #fff;
    padding: 1rem;
    margin-bottom: 0.5rem;
    border-radius: 1rem;
    position: relative;
    z-index: 0;
}

.article > .tags {
    position: absolute;
    right: 1rem;
    top: 0;
}

