@font-face {
    font-family: "OverpassLight";
    src: url("/static/font/Overpass-Light.ttf");
}

@font-face {
    font-family: "OverpassBold";
    src: url("/static/font/Overpass-Bold.ttf");
    font-weight: bold;
}

:root {
    --global-font: 'OverpassLight', Helvetica, sans-serif;
    --global-font-bold: 'OverpassBold', Helvetica, sans-serif;
    --background-main-color: #000000;
    --foreground-main-color: #16ff00;
    --background-sub-color: #0F6292;
}
